{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "env": {
    "browser": true
  },
  "globals": {
    "process": true
  },
  "rules": {
    "semi": [
      2,
      "never"
    ],
    "quotes": [
      2,
      "single"
    ],
    "curly": 2
  }
}