@import "~foundation-sites/scss/util/util";
@import "~foundation-sites/scss/global";

$fa-font-path: "~font-awesome/fonts";
$fa-css-prefix: "icon";
$body-background: #F7F7F9;
$body-font-color: #525255;